body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: #222;
  color: white;
}

/* Canvas ko background me bhejo */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* UI ko upar lao */
#startScreen, #gameOverScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  background: orange;
  color: white;
  border-radius: 5px;
}
